.product-card {
  text-align: center;
}

.product-card__image {
  width: 320px;
}

.product-card__name {
  font-size: 1.6rem;
}

.product-card a {
  text-decoration: none;
  color: var(--just-white);
}
