:root {
    /*fonts*/
    --catamaran-font: 'Catamaran', sans-serif;
    --mulish-font: 'Mulish', sans-serif;
    /*colors*/
    --primary-color: #f7b035;
    --secondary-color: #256b3e;
    --body-bg-color: #1d1d1d;
    --border-color: #555555;
    --success-color: #4f8a10;
    --error-color: #d8000c;
    --info-color: #31708f;
    --just-white: #ffffff;
    --just-black: #000000;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
  font-family: var(--mulish-font);
}

body {
    background-color: var(--body-bg-color);
    color: var(--just-white);
}