.count-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-count{
    color: var(--primary-color);
    padding: 0 5px;
    background: none;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.button-count:hover{
    background-color: var(--primary-color);
    color: var(--just-white);
    border: 1px solid var(--primary-color);
}

.button-count:disabled{
    opacity:0.5;
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--border-color)
}

.box-qty{
    background-color: var(--just-white);
    color: var(--primary-color);
    padding: 0 5px;
}

